VITE_AUTH_SERVICE_URL=http://localhost:8081
VITE_EMPLOYEE_SERVICE_URL=http://localhost:8082
VITE_CATALOG_SERVICE_URL=http://localhost:8083
VITE_INVENTORY_SERVICE_URL=http://localhost:8084
VITE_PROCUREMENT_SERVICE_URL=http://localhost:8085
VITE_SALES_SERVICE_URL=http://localhost:8086
VITE_PRODUCTION_SERVICE_URL=http://localhost:8087
VITE_QUALITY_SERVICE_URL=http://localhost:8088
VITE_WAREHOUSE_SERVICE_URL=http://localhost:8089
VITE_FINANCE_SERVICE_URL=http://localhost:8090

